@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    
   background:url(../background.jpg);
   font-family: 'Roboto Condensed',
   sans-serif;
   opacity: 0.9;
   height: 100vh;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;
}



.card-signin {
    
    
    border-radius: 0.5em;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top:5em;
    position: relative;
    
}

.card-signin .card-title1 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}
.card-signin .card-title0 {
  
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}

.card-signin .card-title2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1em;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
    padding-top:1em;
}

.form-signin .btn {
    margin-top: 3em;
    font-size: 100%;
    
    letter-spacing: .1rem;
    font-weight: bold;
    color:black;
    padding: 1rem;
    background: linear-gradient(to right, #f3c623, #f6f578);
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
   
}

.form-label-group input {
    height: auto;
    border: none;
    border-bottom: 2px solid #f3c623;
    color: rgba(115, 137, 156, 0.8);
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #f3c623;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: rgba(115, 137, 156, 0.8)
}
.div-card{
    background-color: #d1ecf6;
}
input#Message{
    height: 4cm;
}
h4.form-link{
    font-size: 1em;
    padding: 1em;
}
h4.form-link span a{
    text-decoration: none;
}

.contact-info h3{
  text-align: left;
  font-size: 2.5em;
  padding-top: 50px;
font-family: 'Raleway',
  sans-serif;
  padding-left: 20px;
 
}
.contact-class{
    text-align: left;
    font-size: 1.5em;
    padding: 15px 10px 10px 15px;
    font-family: 'Raleway',
    sans-serif;
}
.contact-class h1  {
    font-size: 1.2em;
    
    padding-top: 20px;
    
    
}
.contact-class h2{
      font-size: 1.2em;
     
      
}
.contact-class a {
    text-decoration: none;
    color: #f3c623;
    font-size: 1.2rem;
    padding-bottom: 50px;

}
.contact-class a:hover {

    color: #1c04a3;
}
@media only screen and (max-width:600px) {

    .contact-class{
        display: none;
    }
    .contact-info{
        display: none;
    }
    .div-card {
        background-color: #f7f7f7;
    }
}